Wesley Walser <waw325@gmail.com> <wwalser@atlassian.com>
Wesley Walser <waw325@gmail.com>
Jörn Zaefferer <joern.zaefferer@gmail.com>
Jake Archibald <jaffathecake@gmail.com>
Jonas Ulrich <jochenulrich@t-online.de>
Timo Tijhof <krinklemail@gmail.com>
James M. Greene <james.m.greene@gmail.com>
Matthew Mirande <itsbusticated@gmail.com>