.span-24.about_us
  .span-24.section
    .section_header
      Privacy policy
  .span-24.prepend-top
    We recognize that your privacy is very important and take it seriously. This Privacy Policy describes Paperstencil's policies and procedures on the collection, use and disclosure of your information when you use the Paperstencil Service. We will not use or share your information with anyone except as described in this Privacy Policy. This Privacy Policy does not apply to information we collect by other means (including offline) or from other sources. Amendments to this statement will be posted to http://www.Paperstencil.com/privacy and will be effective when posted. Your continued use of this site following the posting of any amendment, modification, or change shall constitute your acceptance of the amendment. We will notify the primary Paperstencil Service account holder by email when significant changes are made to the privacy policy. If you have any questions about this privacy statement or your dealings with the Paperstencil, you can contact us at support aht Paperstencil dhot com.
  .span-24.prepend-top
    %h3
      Information Collection and Use
    Paperstencil uses information we collect to analyze how the Service is used, diagnose service or technical problems, maintain security, personalize content, remember information to help you efficiently access your account, monitor aggregate metrics such as total number of visitors, traffic, and demographic patterns, and track User Content and users as necessary to comply with the Digital Millennium Copyright Act and other applicable laws.
    We collect the email addresses of those who communicate with us via email, information about the pages consumers access on the Paperstencil website.
  .span-24.prepend-top
    %h3
      Cookies
    When you visit the Service, we may send one or more "cookies" - small data files - to your computer to uniquely identify your browser and let Paperstencil help you log in faster and enhance your navigation through the site. A cookie may convey anonymous information about how you browse the Service to us, but does not collect personal information about you. A persistent cookie remains on your computer after you close your browser so that it can be used by your browser on subsequent visits to the Service. Persistent cookies can be removed by following your web browser's directions. A session cookie is temporary and disappears after you close your browser. You can reset your web browser to refuse all cookies or to indicate when a cookie is being sent. However, some features of the Service may not function properly if the ability to accept cookies is disabled.
  .span-24.prepend-top
    %h3
      Log Files
    Log file information is automatically reported by your browser each time you access a web page. When you use the Service, our servers automatically record certain information that your web browser sends whenever you visit any website. These server logs may include information such as your web request, Internet Protocol ("IP") address, browser type, referring / exit pages and URLs, number of clicks, domain names, landing pages, pages viewed, and other such information.
  .span-24.prepend-top
    %h3
      Clear GIFs Information
    When you use the Service, we may employ clear GIFs (also known as web beacons) which are used to track the online usage patterns of our users anonymously. No personally identifiable information from your Paperstencil account is collected using these clear GIFs. In addition, we may also use clear GIFs in HTML-based emails sent to our users to track which emails are opened by recipients. The information is used to enable more accurate reporting and make Paperstencil better for our users.
  .span-24.prepend-top
    %h3
      Security and Storage
    Our Service has industry standard security measures in place to protect the loss, misuse, and alteration of the information under our control. While there is no such thing as "perfect security" on the Internet, we will take all reasonable steps to insure the safety of your information. Additionally, you retain all rights of ownership to the data you have stored on Paperstencil Service. We will not sell or share this data with any third parties or use this data to compete with you or advertise to your clients. Your privacy and the privacy of your clients are of utmost importance to us.
