.span-24.about_us
  .span-24.section
    .section_header
      Terms of Service
  .span-24.prepend-top
    These Terms of Service ("Terms") govern your access to and use of the services and Paperstencil’s websites (the "Services"), and any information, text, graphics, photos or other materials uploaded, downloaded or appearing on the Services (collectively referred to as "Content"). Your access to and use of the Services is conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services you agree to be bound by these Terms.
  .span-24.prepend-top
    %h3
      Basic Terms
    You may use the Services only if you can form a binding contract with Paperstencil and are not a person barred from receiving services under the laws of India or other applicable jurisdiction. You may use the Services only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations. You must provide your full legal name, a valid email address, and any other required information to complete the sign-up process. You are responsible for maintaining the privacy and security of your account. Paperstencil will not be held liable for any damage or loss that may result from your failure to protect your login information, including your password. Paperstencil may communicate with you via email regarding your account, system updates, or other issues related to your account. The Services that Paperstencil provides are always evolving and the form and nature of the Services that Paperstencil provides may change from time to time without prior notice to you. In addition, Paperstencil may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally and may not be able to provide you with prior notice. Paperstencil reserves the right to modify, suspend, or discontinue the Service at any time for any reason with or without notice. Any questions regarding the Terms of Service should be addressed to support aht Paperstencil dhot com.
  .span-24.prepend-top
    %h3
      Accepting the Terms
    In order to use the Services, you must first agree to the Terms. You may not use the Services if you do not accept the Terms.
    You can accept the Terms by, clicking to accept or agree to the Terms, where this option is made available to you by Paperstencil in the user interface for any Service or by actually using the Services. In this case, you understand and agree that Paperstencil will treat your use of the Services as acceptance of the Terms from that point onwards.
  .span-24.prepend-top
    %h3
      Updation to the Terms
    Paperstencil reserves the right to update and modify the Terms of Service at any time without notice. New features that may be added to the Service shall be subject to the Terms of Service. Should you continue to use the Service after any such modifications have been made, this shall constitute your agreement to such modifications. You may always view the most recent copy of the Terms of Service here:http://www.Paperstencil.com/info/tos
  .span-24.prepend-top
    %h3
      Payment and Access
    We will charge you a standard monthly fee based on your account plan. The Service is billed in advance for each month, and is non-refundable. There will be no refunds or credits for partial months of service, or refunds made should you not use the Service during a period of time when your account is open. No exceptions will be made. Should you upgrade or downgrade your account plan, your credit card will be charged your new billing rate immediately. Your credit card will then be charged your new billing rate every 30 days thereafter unless you cancel your account.
    Paperstencil reserves the right to change our monthly fees upon 30 days notice from us. Fee change notices may be posted to the Service or on the website: http://www.Paperstencil.com/info/pricing
  .span-24.prepend-top
    %h3
      Privacy
    Any information that you provide to Paperstencil is subject to our
    %a{:href=> url_for(:action => "privacy", :controller => "/info")}
      Privacy Policy
    , which governs our collection and use of your information. You understand that through your use of the Services you consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer of this information to the India, United States and/or other countries for storage, processing. As part of providing you the Services, we may need to provide you with certain communications, such as service announcements and administrative messages. These communications are considered part of the Services and your Paperstencil account, which you may not be able to opt-out from receiving.
  .span-24.prepend-top
    %h3
      Passwords
    You are responsible for safeguarding the password that you use to access the Services and for any activities or actions under your password. We encourage you to use "strong" passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your account. Paperstencil cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
  .span-24.prepend-top
    %h3
      Copyright and Ownership
    All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. We may not monitor or control the Content posted via the Services and, we cannot take responsibility for such Content. Any use or reliance on any Content or materials posted via the Services or obtained by you through the Services is at your own risk.
    Paperstencil or its suppliers own the intellectual property rights to any and all protectable components of the Service, including but not limited to the name of the Service, artwork and end-user interface elements contained within the Service, many of the individual features, and the related documentation. You may not copy, modify, adapt, reproduce, distribute, reverse engineer, decompile, or dissemble any aspect of the Service which Paperstencil or its suppliers own. Paperstencil claims no intellectual property rights over the Content you upload or provide to the Service. However, by using the Service to send Content, you agree that others may view and share your Content. Under no circumstances will Paperstencil be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Services.
  .span-24.prepend-top
    %h3
      The Services are Available "AS-IS"
    Your access to and use of the Services or any Content is at your own risk. You understand and agree that the Services is provided to you on an "AS IS" and "AS AVAILABLE" basis. Without limiting the foregoing, Paperstencil AND ITS PARTNERS DISCLAIM ANY WARRANTIES, EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. We make no warranty and disclaim all responsibility and liability for the completeness, accuracy, availability, timeliness, security or reliability of the Services or any content thereon. Paperstencil will not be responsible or liable for any harm to your computer system, loss of data, or other harm that results from your access to or use of the Services, or any Content. You also agree that Paperstencil has no responsibility or liability for the deletion of, or the failure to store or to transmit, any Content and other communications maintained by the Services. We make no warranty that the Services will meet your requirements or be available on an uninterrupted, secure, or error-free basis. No advice or information, whether oral or written, obtained from Paperstencil or through the Services, will create any warranty not expressly made herein.
  .span-24.prepend-top
    %h3
      Limitation of Liability
    TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, Paperstencil AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF PROFITS, DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICES; AND (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL THEORY, WHETHER OR NOT Paperstencil HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
  .span-24.prepend-top
    %h3
      Export Compliance
    You are responsible for complying with any applicable laws, rules, or regulations governing the export of the Service or any of its components.
  .span-24.prepend-top
    %h3
      Governing Law
    These Terms and any action related thereto will be governed by the laws of the State of Karnataka without regard to or application of its conflict of law provisions or your state or country of residence. All claims, legal proceedings or litigation arising in connection with the Services will be brought solely in Bangalore, Karnataka, and you consent to the jurisdiction of and venue in such courts and waive any objection as to inconvenient forum. If you are accepting these Terms on behalf of a government of India entity that is legally unable to accept the controlling law, jurisdiction or venue clauses above, then those clauses do not apply to you but instead these Terms and any action related thereto will be will be governed by the laws of India (without reference to conflict of laws) and, in the absence of federal law and to the extent permitted under federal law, the laws of the State of Karnataka (excluding choice of law).