.row.section_header
  About us
.row.about.prepend-top
  We are team of engineers and designers, who felt the need to create and share data collection forms, in more natural way.
  Our product can be used on any devices (Tablet, Desktop), without installing any external software/plugins.
  %br
  %br
  Paperstencil enables enterprises to roll-out data collection solutions of their business needs in few minutes.
  %br
  %br
  Paperstencil is designed for automation of operational aspect of today's lean enterprises.

.row.section_header.prepend-top
  Support
.row.support.prepend-top
  Email support     :
  %h5
    support [aht] paperstencil [dhot] com
  Mailing list     :
  %h5
    Join mailing list at : https://groups.google.com/d/forum/paperstencil
    %br
    %br
    Group email id is : paperstencil [aht] googlegroups [dhot] com

.row.section_header.prepend-top
  Contact
.row.contact.prepend-top
  General contact :
  %h5
    info [aht] paperstencil [dhot] com
  %br

